html, body{
    margin: 0;
}

.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/*-----------HEADER-----------*/
.header-box{
    height: 150px;
    text-align: center;
    margin-bottom: 10vh;
}

.header-image{
    margin-top: 20px;
    height: 120px;
}

/*-----------MAIN SECTION-----------*/




/*-----------FOOTER-----------*/
.footer{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    height: 130px;
    margin-bottom: 20px;
}

.footer-button{
    text-align: center;
    width: 33vw;
    margin:auto;
}

.footer-info{
    text-align: center;
    width: 33vw;
    margin:auto;
}

.social-media-links{
    text-align: center;
    width: 33vw;
    margin:auto;

}

.sm-image{
    height: 25px;
    margin: 20px;
}
















/*----------------old----------------*/
/**
/* 
.header-box{
    height: 150px;
    text-align: center;
    margin-bottom: 10vh;
}

.header-image{
    margin-top: 20px;
    height: 120px;
}

.content{

    width: 92vw;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;

}

.card-right{
    text-align: center;
    width: 462.3px;
    display: inline-block;
}

.card-image{
    margin-left: auto;
    height: 80vh;
}

.card-title{
    font-weight: 700;
    text-align: center;
}

.card-price{
    font-weight:300;
    text-align: center;
}

.card-animation:hover{
    background-color: rgb(237, 241, 245);
    border: 1px solid black;
}

.footer{

    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    height: 130px;
    margin-bottom: 20px;
}

.footer-button{
    text-align: center;
    width: 33vw;
    margin:auto;
}

.footer-info{
    text-align: center;
    width: 33vw;
    margin:auto;
}

.social-media-links{
    text-align: center;
    width: 33vw;
    margin:auto;

}

.sm-image{
    height: 25px;
    margin: 20px;
}

/*.footer-3{
    text-align: center;
    width: 500px;
    margin:auto;
}

.footer-p{
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}*/