html, body{
    margin: 0;
}

.header-box{
    height: 150px;
    text-align: center;
    /*background-color: #f45a51;*/
    margin-bottom: 10vh;
}

.header-image{
    margin-top: 20px;
    height: 120px;
}

.content{
    /*display: inline-flex;*/
    width: 92vw;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color: #000;*/
}

.card-right{
    text-align: center;
    /*background-color: #aaf;*/
    /*border: 1px solid black;*/
    width: 462.3px;
    display: inline-block;
}

.card-image{
    margin-left: auto;
    height: 80vh;
}

.card-title{
    font-weight: 700;
    text-align: center;
}

.card-price{
    font-weight:300;
    text-align: center;
}

.card-animation:hover{
    background-color: rgb(237, 241, 245);
    border: 1px solid black;
}

.footer{
    /*background-color: #f11b12;*/
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    height: 130px;
    margin-bottom: 20px;
}

.footer-button{
    text-align: center;
    width: 33vw;
    margin:auto;
}

.footer-info{
    text-align: center;
    width: 33vw;
    margin:auto;
}

.social-media-links{
    /*background-color:aquamarine;*/
    text-align: center;
    width: 33vw;
    margin:auto;

}

.sm-image{
    height: 25px;
    margin: 20px;
}

/*.footer-3{
    text-align: center;
    width: 500px;
    margin:auto;
}*/

.footer-p{
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}